Repository stuartshay/otel-worker: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-mod-tidy

.pre-commit-config.yaml:

# Pre-commit hooks for otel-worker
# See https://pre-commit.com for more information
repos:
  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  # Go formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'gofmt -w -s .'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-imports
        name: go imports
        entry: bash -c 'goimports -w .'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy'
        language: system
        files: (\.go|go\.mod|go\.sum)$
        pass_filenames: false

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        args: ['--fix']

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-d', '{extends: default, rules: {line-length: {max: 120}, document-start: disable}}']

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker

  # Protobuf formatting
  - repo: https://github.com/bufbuild/buf
    rev: v1.50.0
    hooks:
      - id: buf-format
      - id: buf-lint

fix: Add zsh support to setup.sh for PATH configuration
  setup.sh
Due: none

feat: add shellcheck to pre-commit and fix shell script warnings
  .pre-commit-config.yaml
  setup.sh
Due: none

feat: add golangci-lint to pre-commit hooks
  .pre-commit-config.yaml
  setup.sh
Due: none

fix: update Trivy action to use specific version and table format
  .github/workflows/docker.yml
Due: none

chore: update all packages and GitHub Actions versions
  .github/workflows/docker.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .markdownlint.json
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-mod-tidy

chore: add Renovate configuration for automated dependency updates
  renovate.json
Due: none

docs: update README with badges and improved formatting
  README.md
Due: none

feat: add proto publishing workflow to Buf Schema Registry
  .env.example
  .github/workflows/proto-publish.yml
  README.md
Due: none

fix: use --label instead of deprecated --tag and add --create flag
  .github/workflows/proto-publish.yml
Due: none

fix: use stuartshay-consulting org name (hyphen, not underscore)
  .github/workflows/proto-publish.yml
  README.md
  buf.yaml
Due: none

docs: add QUICK_WINS.md and update project status
  README.md
  docs/PROJECT_PLAN.md
  docs/QUICK_WINS.md
Due: none

feat: implement HTTP health check endpoints
  cmd/server/main.go
  cmd/server/main_health_test.go
  docs/QUICK_WINS.md
Due: go-fmt, go-imports, go-mod-tidy

docs: mark quick wins #1 and #3 complete
  docs/DOCKER_HUB_SETUP.md
  docs/QUICK_WINS.md
Due: none

docs: add progress report
  docs/PROGRESS_REPORT.md
Due: none

docs: add comprehensive deployment guide
  docs/DEPLOYMENT_GUIDE.md
Due: none

docs: update README with comprehensive documentation links
  README.md
Due: none

docs: mark quick win #4 complete - Docker image published
  docs/PROGRESS_REPORT.md
  docs/QUICK_WINS.md
Due: none

fix: use TARGETARCH for multi-arch Docker builds
  Dockerfile
Due: none

feat: add grpcurl and grpcui to setup.sh
  setup.sh
Due: none

feat: add grpcui targets to Makefile
  Makefile
Due: none

feat: Add comprehensive integration tests with 90.8% database coverage
  go.mod
  go.sum
  internal/database/client.go
  internal/database/client_integration_test.go
  internal/grpc/handler_test.go
Due: go-fmt, go-imports, go-mod-tidy

docs: Fix timestamp column type in DATABASE.md
  docs/DATABASE.md
Due: none

fix: Correct Location struct to match database schema 1:1
  CONTRACT_VERIFICATION.md
  internal/database/client.go
  internal/database/client_test.go
  verify_contract.sql
Due: go-fmt, go-imports, go-mod-tidy

feat: Add OpenTelemetry distributed tracing instrumentation
  cmd/server/main.go
  docs/CONTRACT_VERIFICATION.md
  go.mod
  go.sum
  internal/config/config.go
  internal/database/client.go
  internal/tracing/tracing.go
Due: go-fmt, go-imports, go-mod-tidy

fix(tracing): Resolve schema URL conflict by using resource.New instead of Merge
  internal/tracing/tracing.go
Due: go-fmt, go-imports, go-mod-tidy

docs: Add comprehensive OpenTelemetry documentation and update Quick Wins
  docs/OPENTELEMETRY.md
  docs/QUICK_WINS.md
Due: none

Add HTTP CSV download endpoint
  cmd/server/main.go
Due: go-fmt, go-imports, go-mod-tidy

fix: Use CSV_OUTPUT_PATH config instead of hardcoded path
  cmd/server/main.go
Due: go-fmt, go-imports, go-mod-tidy

fix: Update Go version from 1.24 to 1.23
  .github/workflows/test.yml
Due: none

fix: Add missing columns to integration test database schema
  .github/workflows/test.yml
Due: none

fix: Add integration build tags to separate unit and integration tests
  .github/workflows/test.yml
  internal/database/client_integration_test.go
  internal/grpc/handler_test.go
Due: go-fmt, go-imports, go-mod-tidy

fix: update .golangci.yml to v2 schema format
  .golangci.yml
Due: none

feat: Add devcontainer configuration
  .devcontainer/devcontainer.json
  .devcontainer/otel-worker.code-workspace
  .devcontainer/postCreateCommand.sh
Due: none

chore: Enhance .gitignore for Go development
  .gitignore
Due: none

chore: Add VS Code workspace configuration
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: Configure ZSH as default terminal shell
  .vscode/settings.json
Due: none

Update
  .devcontainer/devcontainer.json
Due: none

Update
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

fix: resolve golangci-lint errors and improve devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/otel-worker.code-workspace
  .devcontainer/postCreateCommand.sh
  .golangci.yml
  .vscode/settings.json
  Makefile
  cmd/server/main.go
  cmd/server/main_health_test.go
  internal/config/config_test.go
  internal/database/client.go
  internal/grpc/handler.go
  internal/queue/queue.go
  internal/queue/queue_test.go
Due: go-fmt, go-imports, go-mod-tidy

fix: migrate golangci-lint config to v2 schema
  .golangci.yml
Due: none
